# NPM
npm-debug.log*
node_modules/
.npm
/package-lock.json
/yarn.lock

# IDEs
.vscode/
*.code-workspace
.idea/

# bundler
.cache
dist/

# packages
/hex
/hsl
/hslString
/hsv
/rgb
/rgbString
/HexInput

# OSX
.DS_Store
.LSOverride