* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  font: inherit;
  outline: none;
}

body {
  background-color: #c92281;
  color: #fff;
  font: normal 20px/1.4 "Recursive", Arial, Helvetica, sans-serif;
}

.wrapper {
  transition: color 0.15s;
}

.demo {
  position: relative;
  width: 200px;
  flex-shrink: 0;
}

.colorPicker {
  width: 100%;
  border-radius: 9px;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.2);
}

.field {
  position: absolute;
  top: calc(100% + 16px);
  left: calc(50% - 45px);
  width: 90px;
  font-family: "PT Mono", monospace;
}

.field:before {
  content: "#";
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0.33;
}

.hexInput {
  display: block;
  color: inherit;
  width: 100%;
  padding-left: 0.7em;
  background: none;
  outline: none;
  font-variant-numeric: tabular-nums;
  text-transform: uppercase;
  opacity: 0.5;
  transition: opacity 0.2s;
}

.hexInput:focus,
.hexInput:hover {
  opacity: 1;
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  min-height: 100vh;
  padding: 120px 32px;
}

.headerContent {
  flex-grow: 1;
  margin-left: 40px;
}

.headerTitle {
  margin-bottom: 16px;
  font-size: 44px;
  line-height: 1;
}

.headerDescription {
  max-width: 16em;
}

.links {
  margin-top: 24px;
}

.links a {
  margin-right: 16px;
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
  opacity: 0.8;
}

.links a:hover {
  opacity: 1;
}

@media (max-width: 767px) {
  .header {
    max-width: 360px;
    padding: 40px 20px;
    flex-direction: column;
  }

  .headerContent {
    text-align: center;
    margin-top: 40px;
    margin-left: 0;
  }

  .headerTitle {
    font-size: 32px;
  }

  .headerDescription {
    margin-left: auto;
    margin-right: auto;
  }

  .field {
    display: none;
  }
}
